<div class="page-header">
    <h1>Bus Tracker >> Passengers</h1>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid justify-content-between">
        <div class="col-sm-4 text-center">
            <form class="navbar-form">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Get Routes
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Deakin - Geelong</a></li>
                        <li><a href="#">Route 1</a></li>
                        <li><a href="#">Route 2</a></li>
                    </ul>
                </div>
            </form>
        </div> <div class="col-sm-4 text-center">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div> <div class="col-sm-4 text-center">
            <form class="navbar-form">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Directions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Direction 1</a></li>
                        <li><a href="#">Direction 2</a></li>
                        <li><a href="#">Direction 3</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Route 41 Deakin University</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Abervale Retierment Village/Church St.(Suburb)</li>
                        <li class="list-group-item">Autumn St/-Torquary Rd (Suburb)</li>
                        <li class="list-group-item">Barwon Tce/Moorabool St.(Suburb)</li>
                        <li class="list-group-item">Belmont Centrepoint Arcade/High St.(Suburb)</li>
                        <li class="list-group-item">Belmont Grange Aged Care/Church St.(Suburb)</li>
                        <li class="list-group-item">Belmont Shoping Village/High St</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.594583349486!2d145.1116983145785!3d-37.846375943681714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6405fbec6fd29%3A0x3a8fa42931d7678e!2sDeakin+University!5e0!3m2!1sen!2sin!4v1491726790980" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen></iframe>
        </div>
    </div>
</div>
