<div class="jumbotron">
    <h1><img style="max-width:75px; margin-top: -4px; margin-right: 10px; float:left;" src="/logo.png">Bus HoP</h1>
    <p class="lead" style="font-style:italic">Keeping commuters on the move >></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Passengers</h2>
        <p>Bus Tracker is an essential tool for Victorian bus commuters. Get the latest schedule 
        information and track the actual location of your next bus.</p>
        <p><a class="btn btn-default" href="../Passenger/Index">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Drivers</h2>
        <p>
            Bus Tracker is a GPS tracking solution for Public Transport Victoria bus service 
            providers. Manage your fleet in real time and provide a valuable service to
            your passengers.
        </p>
        <p><a class="btn btn-default" href="../Driver/Index">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>API</h2>
        <p>
            Bus Tracker offers a public API for B2B system integration and client application
            development.
        </p>
        <p><a class="btn btn-default" href="../Help">Learn more &raquo;</a></p>
    </div>

</div>
